In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime
from scipy.stats import t
from sklearn.decomposition import PCA, IncrementalPCA, TruncatedSVD
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import RidgeClassifierCV, LogisticRegression, RidgeClassifier
from sklearn.preprocessing import Imputer
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score

In [2]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

# Lets try out some stuff on a super small dataframe

In [ ]:
# intialise data of lists. 
data = {'Name':['Tom', 'nick', 'krish', 'nan'], 'Age':[np.nan, 21, 19, 22], 'Sex':['M', 'M', 'F', 'M'], 'Footwear':['Sandals', 'Shoes', 'Sandals', 'Shoes']} 
  
# Create DataFrame 
df_sample = pd.DataFrame(data) 
  
# Print the output. 
df_sample

### get rid of nulls

In [ ]:
imp = SimpleImputer(strategy='most_frequent')

In [ ]:
imp.fit(df_sample)

In [ ]:
df_imp = imp.transform(df_sample)

In [ ]:
df_imp

### split the dataframe into X and y

In [ ]:
X_df = df_sample['Footwear']
X_df

In [ ]:
y_df = df_sample.drop(['Footwear'], axis=1)
y_df

In [ ]:
# Get dummies
df_sample_dummies = pd.get_dummies(y_df, prefix_sep='_', drop_first=True)

# X head
print(df_sample_dummies)

In [ ]:
# Get sparse dummies
df_sample_sparse_dummies = pd.get_dummies(df_sample, prefix_sep='_', drop_first=True, sparse=True)

# X head
print(df_sample_sparse_dummies)

In [ ]:
df_sample_dummies.info()

In [ ]:
df_sample_sparse_dummies.info()

In [ ]:
from sklearn.cluster import KMeans
# dictionary to fill with the single square errors
sse = {}
# Fit KMeans and calculate SSE for each k
for k in range(1, 5):
  
    # Initialize KMeans with k clusters
    kmeans = KMeans(n_clusters=k, random_state=1)
    
    # Fit KMeans on the normalized dataset
    kmeans.fit(df_sample_sparse_dummies)
    
    # Assign sum of squared distances to k element of dictionary
    sse[k] = kmeans.inertia_ 
# Add the plot title "The Elbow Method"
plt.title('The Elbow Method')

# Add X-axis label "k"
plt.xlabel('k')

# Add Y-axis label "SSE"
plt.ylabel('SSE')

# Plot SSE values for each key in the dictionary
sns.pointplot(x=list(sse.keys()), y=list(sse.values()))
plt.show()

In [ ]:
pca = PCA(n_components=2)
y_pca = pca.fit_transform(df_sample_sparse_dummies)

In [ ]:
y_pca

# Let's try it on the big dataset

In [3]:
df_read = pd.read_csv('Data/Loan_Storied.csv',low_memory=False,index_col=0, 
                parse_dates=['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 
                               'debt_settlement_flag_date', 'settlement_date','sec_app_earliest_cr_line'])

C:\Users\Scott\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
df = df_read.copy()

In [5]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term_months,int_rate_pct,installment,grade,sub_grade,emp_title,emp_length_years,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util_pct,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,meets_credit_policy
0,5000.000,5000.000,4975.000,36.000,0.106,162.870,B,B2,NaN,10.000,RENT,24000.000,Verified,2011-12-01,Fully Paid,n,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.650,0.000,1985-01-01,1.000,nan,nan,3.000,0.000,13648.000,0.837,9.000,f,0.000,0.000,5863.155,5833.840,5000.000,863.160,0.000,0.000,0.000,2015-01-01,171.620,NaT,2019-05-01,0.000,nan,1.000,Individual,nan,nan,NaN,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,NaT,nan,nan,nan,nan,nan,nan,nan,nan,nan,N,NaN,NaN,NaN,nan,nan,NaN,NaN,NaN,nan,nan,NaN,nan,nan,nan,N,NaT,NaN,NaT,nan,nan,nan,True
1,2500.000,2500.000,2500.000,60.000,0.153,59.830,C,C4,Ryder,0.500,RENT,30000.000,Source Verified,2011-12-01,Charged Off,n,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.000,0.000,1999-04-01,5.000,nan,nan,3.000,0.000,1687.000,0.094,4.000,f,0.000,0.000,1014.530,1014.530,456.460,435.170,0.000,122.900,1.110,2013-04-01,119.660,NaT,2016-10-01,0.000,nan,1.000,Individual,nan,nan,NaN,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,NaT,nan,nan,nan,nan,nan,nan,nan,nan,nan,N,NaN,NaN,NaN,nan,nan,NaN,NaN,NaN,nan,nan,NaN,nan,nan,nan,N,NaT,NaN,NaT,nan,nan,nan,True
2,2400.000,2400.000,2400.000,36.000,0.160,84.330,C,C5,NaN,10.000,RENT,12252.000,Not Verified,2011-12-01,Fully Paid,n,NaN,small_business,real estate business,606xx,IL,8.720,0.000,2001-11-01,2.000,nan,nan,2.000,0.000,2956.000,0.985,10.000,f,0.000,0.000,3005.667,3005.670,2400.000,605.670,0.000,0.000,0.000,2014-06-01,649.910,NaT,2017-06-01,0.000,nan,1.000,Individual,nan,nan,NaN,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,NaT,nan,nan,nan,nan,nan,nan,nan,nan,nan,N,NaN,NaN,NaN,nan,nan,NaN,NaN,NaN,nan,nan,NaN,nan,nan,nan,N,NaT,NaN,NaT,nan,nan,nan,True
3,10000.000,10000.000,10000.000,36.000,0.135,339.310,C,C1,AIR RESOURCES BOARD,10.000,RENT,49200.000,Source Verified,2011-12-01,Fully Paid,n,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.000,0.000,1996-02-01,1.000,35.000,nan,10.000,0.000,5598.000,0.210,37.000,f,0.000,0.000,12231.890,12231.890,10000.000,2214.920,16.970,0.000,0.000,2015-01-01,357.480,NaT,2016-04-01,0.000,nan,1.000,Individual,nan,nan,NaN,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,NaT,nan,nan,nan,nan,nan,nan,nan,nan,nan,N,NaN,NaN,NaN,nan,nan,NaN,NaN,NaN,nan,nan,NaN,nan,nan,nan,N,NaT,NaN,NaT,nan,nan,nan,True
4,3000.000,3000.000,3000.000,60.000,0.127,67.790,B,B5,University Medical Group,1.000,RENT,80000.000,Source Verified,2011-12-01,Fully Paid,n,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.940,0.000,1996-01-01,0.000,38.000,nan,15.000,0.000,27783.000,0.539,38.000,f,0.000,0.000,4066.908,4066.910,3000.000,1066.910,0.000,0.000,0.000,2017-01-01,67.300,NaT,2018-04-01,0.000,nan,1.000,Individual,nan,nan,NaN,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,NaT,nan,nan,nan,nan,nan,nan,nan,nan,nan,N,NaN,NaN,NaN,nan,nan,NaN,NaN,NaN,nan,nan,NaN,nan,nan,nan,N,NaT,NaN,NaT,nan,nan,nan,True

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1422722 entries, 0 to 1422721
Columns: 142 entries, loan_amnt to meets_credit_policy
dtypes: bool(1), datetime64[ns](8), float64(108), object(25)
memory usage: 1.5+ GB

We need to get rid of columns that contain information that happens after a loan has been given out, such as hardships.  This is really an important step and it also helps us downsize our dataset a little bit.

In [7]:
drop_list = ['collection_recovery_fee', 'debt_settlement_flag','debt_settlement_flag_date','deferral_term','delinq_amnt','hardship_amount','hardship_dpd', 'hardship_end_date', 'hardship_flag','hardship_last_payment_amount','hardship_length', 'hardship_loan_status','hardship_payoff_balance_amount', 'hardship_reason', 'hardship_start_date', 'hardship_status', 'hardship_type', 'last_pymnt_amnt','last_pymnt_d','next_pymnt_d','orig_projected_additional_accrued_interest','out_prncp','out_prncp_inv','payment_plan_start_date','pymnt_plan','recoveries','settlement_amount','settlement_date','settlement_percentage','settlement_status','settlement_term','total_pymnt','total_pymnt_inv','total_rec_int','total_rec_late_fee','total_rec_prncp','desc','zip_code','title','emp_title','meets_credit_policy']
df = df.drop(drop_list, axis=1)

### And now lets change the dates to floats by subtracting to or from the issue date

In [8]:
df['issue_d_minus_earliest_cr_line'] = (df['issue_d']-df['earliest_cr_line']).dt.days
df['last_credit_pull_d_minus_issue_d'] = (df['last_credit_pull_d']-df['issue_d']).dt.days
df['issue_d_minus_sec_app_earliest_cr_line'] = (df['issue_d']-df['sec_app_earliest_cr_line']).dt.days

### Drop the date fields

In [9]:
dt_drop_list = ['issue_d','earliest_cr_line','last_credit_pull_d','sec_app_earliest_cr_line']
df = df.drop(dt_drop_list, axis=1)
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term_months,int_rate_pct,installment,grade,sub_grade,emp_length_years,home_ownership,annual_inc,verification_status,loan_status,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util_pct,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,issue_d_minus_earliest_cr_line,last_credit_pull_d_minus_issue_d,issue_d_minus_sec_app_earliest_cr_line
0,5000.000,5000.000,4975.000,36.000,0.106,162.870,B,B2,10.000,RENT,24000.000,Verified,Fully Paid,credit_card,AZ,27.650,0.000,1.000,nan,nan,3.000,0.000,13648.000,0.837,9.000,f,0.000,nan,1.000,Individual,nan,nan,NaN,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,9830.000,2708.000,nan
1,2500.000,2500.000,2500.000,60.000,0.153,59.830,C,C4,0.500,RENT,30000.000,Source Verified,Charged Off,car,GA,1.000,0.000,5.000,nan,nan,3.000,0.000,1687.000,0.094,4.000,f,0.000,nan,1.000,Individual,nan,nan,NaN,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,4627.000,1766.000,nan
2,2400.000,2400.000,2400.000,36.000,0.160,84.330,C,C5,10.000,RENT,12252.000,Not Verified,Fully Paid,small_business,IL,8.720,0.000,2.000,nan,nan,2.000,0.000,2956.000,0.985,10.000,f,0.000,nan,1.000,Individual,nan,nan,NaN,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,3682.000,2009.000,nan
3,10000.000,10000.000,10000.000,36.000,0.135,339.310,C,C1,10.000,RENT,49200.000,Source Verified,Fully Paid,other,CA,20.000,0.000,1.000,35.000,nan,10.000,0.000,5598.000,0.210,37.000,f,0.000,nan,1.000,Individual,nan,nan,NaN,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,5782.000,1583.000,nan
4,3000.000,3000.000,3000.000,60.000,0.127,67.790,B,B5,1.000,RENT,80000.000,Source Verified,Fully Paid,other,OR,17.940,0.000,0.000,38.000,nan,15.000,0.000,27783.000,0.539,38.000,f,0.000,nan,1.000,Individual,nan,nan,NaN,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,5813.000,2313.000,nan

### Convert Default to Charged Off since it is the same outcome

In [10]:
df['loan_status'] = np.where(df['loan_status'] == 'Default','Charged Off',df['loan_status'])
df['loan_status'].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

# Get rid of null values

In [11]:
df.isnull().sum()

loan_amnt                                       0
funded_amnt                                     0
funded_amnt_inv                                 0
term_months                                     0
int_rate_pct                                    0
installment                                     0
grade                                           0
sub_grade                                       0
emp_length_years                            84136
home_ownership                                  0
annual_inc                                      4
verification_status                             0
loan_status                                     0
purpose                                         0
addr_state                                      0
dti                                           461
delinq_2yrs                                    29
inq_last_6mths                                 30
mths_since_last_delinq                     717293
mths_since_last_record                    1180462
open_acc                                       29
pub_rec                                        29
revol_bal                                       0
revol_util_pct                                963
total_acc                                      29
initial_list_status                             0
collections_12_mths_ex_med                    145
mths_since_last_major_derog               1048975
policy_code                                     0
application_type                                0
annual_inc_joint                          1392196
dti_joint                                 1392199
verification_status_joint                 1392510
acc_now_delinq                                 29
tot_coll_amt                                70276
tot_cur_bal                                 70276
open_acc_6m                                816717
open_act_il                                816716
open_il_12m                                816716
open_il_24m                                816716
mths_since_rcnt_il                         833268
total_bal_il                               816716
il_util                                    899354
open_rv_12m                                816716
open_rv_24m                                816716
max_bal_bc                                 816716
all_util                                   816780
total_rev_hi_lim                            70276
inq_fi                                     816716
total_cu_tl                                816717
inq_last_12m                               816717
acc_open_past_24mths                        50030
avg_cur_bal                                 70303
bc_open_to_buy                              64828
bc_util                                     65637
chargeoff_within_12_mths                      145
mo_sin_old_il_acct                         110777
mo_sin_old_rev_tl_op                        70277
mo_sin_rcnt_rev_tl_op                       70277
mo_sin_rcnt_tl                              70276
mort_acc                                    50030
mths_since_recent_bc                        63851
mths_since_recent_bc_dlq                  1085968
mths_since_recent_inq                      185121
mths_since_recent_revol_delinq             947395
num_accts_ever_120_pd                       70276
num_actv_bc_tl                              70276
num_actv_rev_tl                             70276
num_bc_sats                                 58590
num_bc_tl                                   70276
num_il_tl                                   70276
num_op_rev_tl                               70276
num_rev_accts                               70277
num_rev_tl_bal_gt_0                         70276
num_sats                                    58590
num_tl_120dpd_2m                           123378
num_tl_30dpd                                70276
num_tl_90g_dpd_24m                          70276
num_tl_op_past_12m                          70276
pct_tl_nvr_dlq                              70430
percent_bc_gt_75                            65244
pub_rec_bankruptcies                         1365
tax_liens                                     105
tot_hi_cred_lim                             70276
total_bal_ex_mort                           50030
total_bc_limit                              50030
total_il_high_credit_limit                  70276
revol_bal_joint                           1400117
sec_app_inq_last_6mths                    1400116
sec_app_mort_acc                          1400116
sec_app_open_acc                          1400116
sec_app_revol_util                        1400502
sec_app_open_act_il                       1400116
sec_app_num_rev_accts                     1400116
sec_app_chargeoff_within_12_mths          1400116
sec_app_collections_12_mths_ex_med        1400116
sec_app_mths_since_last_major_derog       1414709
issue_d_minus_earliest_cr_line                 29
last_credit_pull_d_minus_issue_d               58
issue_d_minus_sec_app_earliest_cr_line    1400116
dtype: int64

In [12]:
imp_con = SimpleImputer(strategy='constant',fill_value='Not Verified')

In [13]:
df.loc[:,'verification_status_joint'] = imp_con.fit_transform(df.loc[:,'verification_status_joint'].to_numpy().reshape(-1,1))

In [14]:
imp_mean = SimpleImputer()

In [15]:
df.loc[:,'emp_length_years'] = imp_mean.fit_transform(df.loc[:,'emp_length_years'].to_numpy().reshape(-1,1))

In [16]:
df.loc[:,'annual_inc'] = imp_mean.fit_transform(df.loc[:,'annual_inc'].to_numpy().reshape(-1,1))

In [17]:
df.iloc[:,15:25] = imp_mean.fit_transform(df.iloc[:,15:25])

In [18]:
df.iloc[:,26:28] = imp_mean.fit_transform(df.iloc[:,26:28])

In [19]:
df.iloc[:,30:32] = imp_mean.fit_transform(df.iloc[:,30:32])

In [20]:
df.iloc[:,33:100] = imp_mean.fit_transform(df.iloc[:,33:100])

In [21]:
df.isnull().sum().sum()

0

In [22]:
df.isnull().values.sum()

0

### Let's use a Heatmap and see if we can get rid of correlated data

Here we are creating a quick function that will create a heatmap. This heat map will show correlation between columns.

In [23]:
def heatMap(df, mirror=False):

   # Create Correlation df
   corr = df.corr()
   # Plot figsize
   fig, ax = plt.subplots(figsize=(100, 100))
   # Generate Color Map
   colormap = sns.diverging_palette(220, 10, as_cmap=True)
   
   if mirror == True:
      #Generate Heat Map, allow annotations and place floats in map
      sns.heatmap(corr, cmap=colormap, annot=True, fmt=".2f")
      #Apply xticks
      plt.xticks(range(len(corr.columns)), corr.columns);
      #Apply yticks
      plt.yticks(range(len(corr.columns)), corr.columns)
      #show plot

   else:
      # Drop self-correlations
      dropSelf = np.zeros_like(corr)
      dropSelf[np.triu_indices_from(dropSelf)] = True
      # Generate Color Map
      colormap = sns.diverging_palette(220, 10, as_cmap=True)
      # Generate Heat Map, allow annotations and place floats in map
      sns.heatmap(corr, cmap=colormap, annot=True, fmt=".2f", mask=dropSelf)
      # Apply xticks
      plt.xticks(range(len(corr.columns)), corr.columns);
      # Apply yticks
      plt.yticks(range(len(corr.columns)), corr.columns)
   # show plot
   plt.show()

In [ ]:
heatMap(df)

In [24]:
corr_drop_list = ['funded_amnt','funded_amnt_inv','installment','open_acc','tot_cur_bal','total_bal_il','num_rev_tl_bal_gt_0','mo_sin_old_rev_tl_op']
df = df.drop(corr_drop_list, axis=1)

In [ ]:
heatMap(df)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1422722 entries, 0 to 1422721
Data columns (total 92 columns):
loan_amnt                                 1422722 non-null float64
term_months                               1422722 non-null float64
int_rate_pct                              1422722 non-null float64
grade                                     1422722 non-null object
sub_grade                                 1422722 non-null object
emp_length_years                          1422722 non-null float64
home_ownership                            1422722 non-null object
annual_inc                                1422722 non-null float64
verification_status                       1422722 non-null object
loan_status                               1422722 non-null object
purpose                                   1422722 non-null object
addr_state                                1422722 non-null object
dti                                       1422722 non-null float64
delinq_2yrs                               1422722 non-null float64
inq_last_6mths                            1422722 non-null float64
mths_since_last_delinq                    1422722 non-null float64
mths_since_last_record                    1422722 non-null float64
pub_rec                                   1422722 non-null float64
revol_bal                                 1422722 non-null float64
revol_util_pct                            1422722 non-null float64
total_acc                                 1422722 non-null float64
initial_list_status                       1422722 non-null object
collections_12_mths_ex_med                1422722 non-null float64
mths_since_last_major_derog               1422722 non-null float64
policy_code                               1422722 non-null float64
application_type                          1422722 non-null object
annual_inc_joint                          1422722 non-null float64
dti_joint                                 1422722 non-null float64
verification_status_joint                 1422722 non-null object
acc_now_delinq                            1422722 non-null float64
tot_coll_amt                              1422722 non-null float64
open_acc_6m                               1422722 non-null float64
open_act_il                               1422722 non-null float64
open_il_12m                               1422722 non-null float64
open_il_24m                               1422722 non-null float64
mths_since_rcnt_il                        1422722 non-null float64
il_util                                   1422722 non-null float64
open_rv_12m                               1422722 non-null float64
open_rv_24m                               1422722 non-null float64
max_bal_bc                                1422722 non-null float64
all_util                                  1422722 non-null float64
total_rev_hi_lim                          1422722 non-null float64
inq_fi                                    1422722 non-null float64
total_cu_tl                               1422722 non-null float64
inq_last_12m                              1422722 non-null float64
acc_open_past_24mths                      1422722 non-null float64
avg_cur_bal                               1422722 non-null float64
bc_open_to_buy                            1422722 non-null float64
bc_util                                   1422722 non-null float64
chargeoff_within_12_mths                  1422722 non-null float64
mo_sin_old_il_acct                        1422722 non-null float64
mo_sin_rcnt_rev_tl_op                     1422722 non-null float64
mo_sin_rcnt_tl                            1422722 non-null float64
mort_acc                                  1422722 non-null float64
mths_since_recent_bc                      1422722 non-null float64
mths_since_recent_bc_dlq                  1422722 non-null float64
mths_since_recent_inq                     1422722 non-null float64
mths_since_recent_revol_delinq            1422722 non-null float64
num_accts_ever_120_pd                     1422722 non-null float64
num_actv_bc_tl                            1422722 non-null float64
num_actv_rev_tl                           1422722 non-null float64
num_bc_sats                               1422722 non-null float64
num_bc_tl                                 1422722 non-null float64
num_il_tl                                 1422722 non-null float64
num_op_rev_tl                             1422722 non-null float64
num_rev_accts                             1422722 non-null float64
num_sats                                  1422722 non-null float64
num_tl_120dpd_2m                          1422722 non-null float64
num_tl_30dpd                              1422722 non-null float64
num_tl_90g_dpd_24m                        1422722 non-null float64
num_tl_op_past_12m                        1422722 non-null float64
pct_tl_nvr_dlq                            1422722 non-null float64
percent_bc_gt_75                          1422722 non-null float64
pub_rec_bankruptcies                      1422722 non-null float64
tax_liens                                 1422722 non-null float64
tot_hi_cred_lim                           1422722 non-null float64
total_bal_ex_mort                         1422722 non-null float64
total_bc_limit                            1422722 non-null float64
total_il_high_credit_limit                1422722 non-null float64
revol_bal_joint                           1422722 non-null float64
sec_app_inq_last_6mths                    1422722 non-null float64
sec_app_mort_acc                          1422722 non-null float64
sec_app_open_acc                          1422722 non-null float64
sec_app_revol_util                        1422722 non-null float64
sec_app_open_act_il                       1422722 non-null float64
sec_app_num_rev_accts                     1422722 non-null float64
sec_app_chargeoff_within_12_mths          1422722 non-null float64
sec_app_collections_12_mths_ex_med        1422722 non-null float64
sec_app_mths_since_last_major_derog       1422722 non-null float64
issue_d_minus_earliest_cr_line            1422722 non-null float64
last_credit_pull_d_minus_issue_d          1422722 non-null float64
issue_d_minus_sec_app_earliest_cr_line    1422722 non-null float64
dtypes: float64(82), object(10)
memory usage: 1009.5+ MB

# These are the object datatype variables that will need to be changed to numeric variables.

In [26]:
obj_list = sorted(list(df.select_dtypes(include=['object']).columns))
for i in range(len(obj_list)):
    print('column name:  ',obj_list[i])
    print('number of unique values:  ',len(df[obj_list[i]].unique()))
    print('unique values:  ')
    print(df[obj_list[i]].unique())
    print("--------------------------")

column name:   addr_state
number of unique values:   51
unique values:
['AZ' 'GA' 'IL' 'CA' 'OR' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT' 'FL' 'NY' 'PA'
 'MN' 'NJ' 'KY' 'OH' 'SC' 'RI' 'LA' 'MA' 'WA' 'WI' 'AL' 'CO' 'KS' 'NV'
 'AK' 'MD' 'WV' 'VT' 'MI' 'DC' 'SD' 'NH' 'AR' 'NM' 'MT' 'HI' 'WY' 'OK'
 'DE' 'MS' 'TN' 'IA' 'NE' 'ID' 'IN' 'ME' 'ND']
--------------------------
column name:   application_type
number of unique values:   2
unique values:
['Individual' 'Joint App']
--------------------------
column name:   grade
number of unique values:   7
unique values:
['B' 'C' 'A' 'E' 'F' 'D' 'G']
--------------------------
column name:   home_ownership
number of unique values:   6
unique values:
['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE' 'ANY']
--------------------------
column name:   initial_list_status
number of unique values:   2
unique values:
['f' 'w']
--------------------------
column name:   loan_status
number of unique values:   2
unique values:
['Fully Paid' 'Charged Off']
--------------------------
column name:   purpose
number of unique values:   14
unique values:
['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving' 'vacation' 'house' 'renewable_energy' 'educational']
--------------------------
column name:   sub_grade
number of unique values:   35
unique values:
['B2' 'C4' 'C5' 'C1' 'B5' 'A4' 'E1' 'F2' 'C3' 'B1' 'D1' 'A1' 'B3' 'B4'
 'C2' 'D2' 'A3' 'A5' 'D5' 'A2' 'E4' 'D3' 'D4' 'F3' 'E3' 'F4' 'F1' 'E5'
 'G4' 'E2' 'G3' 'G2' 'G1' 'F5' 'G5']
--------------------------
column name:   verification_status
number of unique values:   3
unique values:
['Verified' 'Source Verified' 'Not Verified']
--------------------------
column name:   verification_status_joint
number of unique values:   3
unique values:
['Not Verified' 'Source Verified' 'Verified']
--------------------------

In [27]:
df = pd.get_dummies(df, prefix_sep='_', drop_first=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1422722 entries, 0 to 1422721
Columns: 197 entries, loan_amnt to verification_status_joint_Verified
dtypes: float64(82), uint8(115)
memory usage: 1.0 GB

In [29]:
df.dtypes

loan_amnt                                    float64
term_months                                  float64
int_rate_pct                                 float64
emp_length_years                             float64
annual_inc                                   float64
dti                                          float64
delinq_2yrs                                  float64
inq_last_6mths                               float64
mths_since_last_delinq                       float64
mths_since_last_record                       float64
pub_rec                                      float64
revol_bal                                    float64
revol_util_pct                               float64
total_acc                                    float64
collections_12_mths_ex_med                   float64
mths_since_last_major_derog                  float64
policy_code                                  float64
annual_inc_joint                             float64
dti_joint                                    float64
acc_now_delinq                               float64
tot_coll_amt                                 float64
open_acc_6m                                  float64
open_act_il                                  float64
open_il_12m                                  float64
open_il_24m                                  float64
mths_since_rcnt_il                           float64
il_util                                      float64
open_rv_12m                                  float64
open_rv_24m                                  float64
max_bal_bc                                   float64
all_util                                     float64
total_rev_hi_lim                             float64
inq_fi                                       float64
total_cu_tl                                  float64
inq_last_12m                                 float64
acc_open_past_24mths                         float64
avg_cur_bal                                  float64
bc_open_to_buy                               float64
bc_util                                      float64
chargeoff_within_12_mths                     float64
mo_sin_old_il_acct                           float64
mo_sin_rcnt_rev_tl_op                        float64
mo_sin_rcnt_tl                               float64
mort_acc                                     float64
mths_since_recent_bc                         float64
mths_since_recent_bc_dlq                     float64
mths_since_recent_inq                        float64
mths_since_recent_revol_delinq               float64
num_accts_ever_120_pd                        float64
num_actv_bc_tl                               float64
num_actv_rev_tl                              float64
num_bc_sats                                  float64
num_bc_tl                                    float64
num_il_tl                                    float64
num_op_rev_tl                                float64
num_rev_accts                                float64
num_sats                                     float64
num_tl_120dpd_2m                             float64
num_tl_30dpd                                 float64
num_tl_90g_dpd_24m                           float64
num_tl_op_past_12m                           float64
pct_tl_nvr_dlq                               float64
percent_bc_gt_75                             float64
pub_rec_bankruptcies                         float64
tax_liens                                    float64
tot_hi_cred_lim                              float64
total_bal_ex_mort                            float64
total_bc_limit                               float64
total_il_high_credit_limit                   float64
revol_bal_joint                              float64
sec_app_inq_last_6mths                       float64
sec_app_mort_acc                             float64
sec_app_open_acc                             float64
sec_app_revol_util                           float64
sec_app_open_act_il                          float64
sec_app_num_rev_accts                        float64
sec_app_chargeoff_within_12_mths             float64
sec_app_collections_12_mths_ex_med           float64
sec_app_mths_since_last_major_derog          float64
issue_d_minus_earliest_cr_line               float64
last_credit_pull_d_minus_issue_d             float64
issue_d_minus_sec_app_earliest_cr_line       float64
grade_B                                        uint8
grade_C                                        uint8
grade_D                                        uint8
grade_E                                        uint8
grade_F                                        uint8
grade_G                                        uint8
sub_grade_A2                                   uint8
sub_grade_A3                                   uint8
sub_grade_A4                                   uint8
sub_grade_A5                                   uint8
sub_grade_B1                                   uint8
sub_grade_B2                                   uint8
sub_grade_B3                                   uint8
sub_grade_B4                                   uint8
sub_grade_B5                                   uint8
sub_grade_C1                                   uint8
sub_grade_C2                                   uint8
sub_grade_C3                                   uint8
sub_grade_C4                                   uint8
sub_grade_C5                                   uint8
sub_grade_D1                                   uint8
sub_grade_D2                                   uint8
sub_grade_D3                                   uint8
sub_grade_D4                                   uint8
sub_grade_D5                                   uint8
sub_grade_E1                                   uint8
sub_grade_E2                                   uint8
sub_grade_E3                                   uint8
sub_grade_E4                                   uint8
sub_grade_E5                                   uint8
sub_grade_F1                                   uint8
sub_grade_F2                                   uint8
sub_grade_F3                                   uint8
sub_grade_F4                                   uint8
sub_grade_F5                                   uint8
sub_grade_G1                                   uint8
sub_grade_G2                                   uint8
sub_grade_G3                                   uint8
sub_grade_G4                                   uint8
sub_grade_G5                                   uint8
home_ownership_MORTGAGE                        uint8
home_ownership_NONE                            uint8
home_ownership_OTHER                           uint8
home_ownership_OWN                             uint8
home_ownership_RENT                            uint8
verification_status_Source Verified            uint8
verification_status_Verified                   uint8
loan_status_Fully Paid                         uint8
purpose_credit_card                            uint8
purpose_debt_consolidation                     uint8
purpose_educational                            uint8
purpose_home_improvement                       uint8
purpose_house                                  uint8
purpose_major_purchase                         uint8
purpose_medical                                uint8
purpose_moving                                 uint8
purpose_other                                  uint8
purpose_renewable_energy                       uint8
purpose_small_business                         uint8
purpose_vacation                               uint8
purpose_wedding                                uint8
addr_state_AL                                  uint8
addr_state_AR                                  uint8
addr_state_AZ                                  uint8
addr_state_CA                                  uint8
addr_state_CO                                  uint8
addr_state_CT                                  uint8
addr_state_DC                                  uint8
addr_state_DE                                  uint8
addr_state_FL                                  uint8
addr_state_GA                                  uint8
addr_state_HI                                  uint8
addr_state_IA                                  uint8
addr_state_ID                                  uint8
addr_state_IL                                  uint8
addr_state_IN                                  uint8
addr_state_KS                                  uint8
addr_state_KY                                  uint8
addr_state_LA                                  uint8
addr_state_MA                                  uint8
addr_state_MD                                  uint8
addr_state_ME                                  uint8
addr_state_MI                                  uint8
addr_state_MN                                  uint8
addr_state_MO                                  uint8
addr_state_MS                                  uint8
addr_state_MT                                  uint8
addr_state_NC                                  uint8
addr_state_ND                                  uint8
addr_state_NE                                  uint8
addr_state_NH                                  uint8
addr_state_NJ                                  uint8
addr_state_NM                                  uint8
addr_state_NV                                  uint8
addr_state_NY                                  uint8
addr_state_OH                                  uint8
addr_state_OK                                  uint8
addr_state_OR                                  uint8
addr_state_PA                                  uint8
addr_state_RI                                  uint8
addr_state_SC                                  uint8
addr_state_SD                                  uint8
addr_state_TN                                  uint8
addr_state_TX                                  uint8
addr_state_UT                                  uint8
addr_state_VA                                  uint8
addr_state_VT                                  uint8
addr_state_WA                                  uint8
addr_state_WI                                  uint8
addr_state_WV                                  uint8
addr_state_WY                                  uint8
initial_list_status_w                          uint8
application_type_Joint App                     uint8
verification_status_joint_Source Verified      uint8
verification_status_joint_Verified             uint8
dtype: object

# Split the dataset into X and y datasets

In [31]:
df_y = df['loan_status_Fully Paid']
df_y.head()

0    1
1    0
2    1
3    1
4    1
Name: loan_status_Fully Paid, dtype: uint8

In [32]:
y = np.ravel(df_y.to_numpy().reshape(-1,1))

In [33]:
y.shape

(1422722,)

In [34]:
X_drop_list = ['loan_status_Fully Paid']
df_X = df.drop(X_drop_list, axis=1)
df_X.head()

,loan_amnt,term_months,int_rate_pct,emp_length_years,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,pub_rec,revol_bal,revol_util_pct,total_acc,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,mo_sin_old_il_acct,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,issue_d_minus_earliest_cr_line,last_credit_pull_d_minus_issue_d,issue_d_minus_sec_app_earliest_cr_line,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,sub_grade_A2,sub_grade_A3,sub_grade_A4,sub_grade_A5,sub_grade_B1,sub_grade_B2,sub_grade_B3,sub_grade_B4,sub_grade_B5,sub_grade_C1,sub_grade_C2,sub_grade_C3,sub_grade_C4,sub_grade_C5,sub_grade_D1,sub_grade_D2,sub_grade_D3,sub_grade_D4,sub_grade_D5,sub_grade_E1,sub_grade_E2,sub_grade_E3,sub_grade_E4,sub_grade_E5,sub_grade_F1,sub_grade_F2,sub_grade_F3,sub_grade_F4,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,addr_state_AL,addr_state_AR,addr_state_AZ,addr_state_CA,addr_state_CO,addr_state_CT,addr_state_DC,addr_state_DE,addr_state_FL,addr_state_GA,addr_state_HI,addr_state_IA,addr_state_ID,addr_state_IL,addr_state_IN,addr_state_KS,addr_state_KY,addr_state_LA,addr_state_MA,addr_state_MD,addr_state_ME,addr_state_MI,addr_state_MN,addr_state_MO,addr_state_MS,addr_state_MT,addr_state_NC,addr_state_ND,addr_state_NE,addr_state_NH,addr_state_NJ,addr_state_NM,addr_state_NV,addr_state_NY,addr_state_OH,addr_state_OK,addr_state_OR,addr_state_PA,addr_state_RI,addr_state_SC,addr_state_SD,addr_state_TN,addr_state_TX,addr_state_UT,addr_state_VA,addr_state_VT,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY,initial_list_status_w,application_type_Joint App,verification_status_joint_Source Verified,verification_status_joint_Verified
0,5000.000,36.000,0.106,10.000,24000.000,27.650,0.000,1.000,34.286,70.542,0.000,13648.000,0.837,9.000,0.000,43.730,1.000,117626.681,18.899,0.000,249.100,1.039,2.787,0.766,1.721,19.814,71.199,1.408,2.980,5543.128,58.085,32906.673,1.084,1.592,2.284,4.686,13487.702,10284.598,59.715,0.000,125.747,13.171,7.880,1.660,23.870,39.597,6.733,35.780,0.510,3.643,5.640,4.736,8.063,8.558,8.276,14.555,11.638,0.001,0.003,0.089,2.175,94.147,44.872,0.000,0.000,174616.241,49752.641,21733.868,42261.115,31407.695,0.743,1.646,11.314,57.187,2.954,12.760,0.055,0.087,36.724,9830.000,2708.000,5467.682,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2500.000,60.000,0.153,0.500,30000.000,1.000,0.000,5.000,34.286,70.542,0.000,1687.000,0.094,4.000,0.000,43.730,1.000,117626.681,18.899,0.000,249.100,1.039,2.787,0.766,1.721,19.814,71.199,1.408,2.980,5543.128,58.085,32906.673,1.084,1.592,2.284,4.686,13487.702,10284.598,59.715,0.000,125.747,13.171,7.880,1.660,23.870,39.597,6.733,35.780,0.510,3.643,5.640,4.736,8.063,8.558,8.276,14.555,11.638,0.001,0.003,0.089,2.175,94.147,44.872,0.000,0.000,174616.241,49752.641,21733.868,42261.115,31407.695,0.743,1.646,11.314,57.187,2.954,12.760,0.055,0.087,36.724,4627.000,1766.000,5467.682,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2400.000,36.000,0.160,10.000,12252.000,8.720,0.000,2.000,34.286,70.542,0.000,2956.000,0.985,10.000,0.000,43.730,1.000,117626.681,18.899,0.000,249.100,1.039,2.787,0.766,1.721,19.814,71.199,1.408,2.980,5543.128,58.085,32906.673,1.084,1.592,2.284,4.686,13487.702,10284.598,59.715,0.000,125.747,13.171,7.880,1.660,23.870,39.597,6.733,35.780,0.510,3.643,5.640,4.736,8.063,8.558,8.276,14.555,11.638,0.001,0.003,0.089,2.175,94.147,44.872,0.000,0.000,174616.241,49752.641,21733.868,42261.115,31407.695,0.743,1.646,11.314,57.187,2.954,12.760,0.055,0.087,36.724,3682.000,2009.000,5467.682,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,10000.000,36.000,0.135,10.000,49200.000,20.000,0.000,1.000,35.000,70.542,0.000,5598.000,0.210,37.000,0.000,43.730,1.000,117626.681,18.899,0.000,249.100,1.039,2.787,0.766,1.721,19.814,71.199,1.408,2.980,5543.128,58.085,32906.673,1.084,1.592,2.284,4.686,13487.702,10284.598,59.715,0.000,125.747,13.171,7.880,1.660,23.870,39.597,6.733,35.780,0.510,3.643,5.640,4.736,8.063,8.558,8.276,14.555,11.638,0.001,0.003,0.089,2.175,94.147,44.872,0.000,0.000,174616.241,49752.641,21733.868,42261.115,31407.695,0.743,1.646,11.314,57.187,2.954,12.760,0.055,0.087,36.724,5782.000,1583.000,5467.682,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,3000.000,60.000,0.127,1.000,80000.000,17.940,0.000,0.000,38.000,70.542,0.000,27783.000,0.539,38.000,0.000,43.730,1.000,117626.681,18.899,0.000,249.100,1.039,2.787,0.766,1.721,19.814,71.199,1.408,2.980,5543.128,58.085,32906.673,1.084,1.592,2.284,4.686,13487.702,10284.598,59.715,0.000,125.747,13.171,7.880,1.660,23.870,39.597,6.733,35.780,0.510,3.643,5.640,4.736,8.063,8.558,8.276,14.555,11.638,0.001,0.003,0.089,2.175,94.147,44.872,0.000,0.000,174616.241,49752.641,21733.868,42261.115,31407.695,0.743,1.646,11.314,57.187,2.954,12.760,0.055,0.087,36.724,5813.000,2313.000,5467.682,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [35]:
df_X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1422722 entries, 0 to 1422721
Columns: 196 entries, loan_amnt to verification_status_joint_Verified
dtypes: float64(82), uint8(114)
memory usage: 1.0 GB

In [36]:
X = df_X.to_numpy()
X.shape

(1422722, 196)

### Let's split it into Testing and Training datasets
We want to split the data two times.  We want a dataset for training the models and selecting hyperparameters, then another dataset for testing which can be used to compare the models against one another, and then a final dataset for testing our slected model.  Since we need three groups of data we will split the data twice.

In [37]:
X_int_train, X_final_test, y_int_train, y_final_test =train_test_split(X, y, test_size=0.2,random_state=1)

In [38]:
X_train, X_model_test, y_train, y_model_test =train_test_split(X_int_train, y_int_train, test_size=0.2,random_state=1)

In [39]:
clf = RidgeClassifierCV(alphas=np.logspace(-6, 6, 13),
                        normalize=True).fit(X_train, y_train)

In [40]:
clf.score(X_train, y_train)

0.8056045801342279

In [41]:
clf.alpha_

0.001

In [43]:
y_pred_prob = clf.predict_proba(X_test)[:,1]

AttributeError: 'RidgeClassifierCV' object has no attribute 'predict_proba'

# I found the Ridge Classifier, but I don't see an equivalent for Lasso.  Can I do Lasso for a binary classification problem?

### Logistic Regression

In [ ]:
from sklearn import linear_model
logreg = LogisticRegressionCV()
logreg.fit(X_train, y_train)

### K Nearest Neighbors Classifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(iris['data'], iris['target'])
#see the example about param grid - it is using grid search to determine the best number of neighbors

In [ ]:
#param_grid = {'n_neighbors': np.arange(1, 50)}
#knn = KNeighborsClassifier()
#knn_cv = GridSearchCV(knn, param_grid, cv=5)
#knn_cv.fit(X, y)
#knn_cv.best_params_
#knn_cv.best_score_

In [ ]:
In [7]: from sklearn.model_selection import cross_val_score
In [8]: cv_scores = cross_val_score(logreg, X, y, cv=5,
...: scoring='roc_auc')
In [9]: print(cv_scores)
[ 0.99673203 0.99183007 0.99583796 1. 0.96140652]

### Support Vector Classifier

In [ ]:
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

### Random Forest

In [ ]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

### Catboost

In [ ]:
from catboost import CatBoostClassifier, Pool

train_data = Pool(data=[[1, 4, 5, 6],
                        [4, 5, 6, 7],
                        [30, 40, 50, 60]],
                  label=[1, 1, -1],
                  weight=[0.1, 0.2, 0.3])

model = CatBoostClassifier(iterations=10)

model.fit(train_data)
preds_class = model.predict(train_data)

# Roc Auc Score

In [ ]:
logreg = LogisticRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)
logreg.fit(X_train, y_train)
y_pred_prob = logreg.predict_proba(X_test)[:,1]
roc_auc_score(y_test, y_pred_prob)

In [ ]:
pca = PCA()
y_pca = pca.fit_transform(df_y_with_dummies)

In [ ]:
inc_pca = IncrementalPCA()
#inc_pca = IncrementalPCA(n_components=100,copy=False,batch_size=10)
# y_pca = inc_pca.fit_transform(df_y_with_dummies)
inc_pca.fit(df_y_with_dummies)
y_pca = inc_pca.transform(df_y_with_dummies)

In [ ]:
tsvd = TruncatedSVD()
y_tsvd = tsvd.fit_transform(df_y_with_dummies)